.topBar{
    background-color: #EAEAEA;
}
#title{
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
}
#menu {
    width: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
}
#menuRow{
    display: flex;
    background-color: #EAEAEA;
}
li a.menu {
    width: 100px;
    text-align: center;
    font-size: 16px;
    color: #2F242C;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}
li a.menu:hover:not(.active) {
    background-color: #BABDD1;/*#D6BCD4;*/
    text-decoration: none;
    color: #4158D0;
}
.menu.active {
    background-color: #BABDD1;/*#D695D1;*/
    font-weight: bold;
    color: #4158D0;
    text-decoration: none;

}
label{
    margin: 0px;
}

#InterPoint{
    width: 115px;
}

.pointDiv{
    width: 358px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin: 10px;
}

.pointName{
    font-size: 24px;
    font-weight: bold;
    background-color: #57b846;
    width: 100%;
    text-align: center;
}
.pointNameDetails{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.pointRank{
    font-size: 20px;
    font-weight: bold;
    color: #57b846;
}
.pointTopBar:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.imagesDiv{
    display: flex;
}
