.topBar{
    background-color: #EAEAEA;
}
#title{
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
    margin-top: 0px;
    font-weight: normal;
}
#menu {
    width: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 0px;
}
#menuRow{
    display: flex;
    background-color: #EAEAEA;
}
li a.menu {
    width: 100px;
    text-align: center;
    font-size: 16px;
    color: #2F242C;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}
li a.menu:hover:not(.active) {
    background-color: #BABDD1;/*#D6BCD4;*/
    text-decoration: none;
    color: #4158D0;
}
.menu.active {
    background-color: #BABDD1;/*#D695D1;*/
    font-weight: bold;
    color: #4158D0;
    text-decoration: none;

}
label{
    margin: 0px;
    font-weight: normal;
}

#InterPoint{
    width: 115px;
}

.pointDiv{
    width: 358px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin: 10px;
}

.pointName{
    font-size: 24px;
    font-weight: bold;
    background-color: #57b846;
    width: 100%;
    text-align: center;
}
.pointStar{
    font-size: 20px;
    background-color: #57b846;
}
.pointNameDetails{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-right: 15px;
}
.pointStarDetail{
    font-size: 25px;
    margin-top: 5px;
}
.pointRank{
    font-size: 20px;
    font-weight: bold;
    color: #57b846;
}
.pointTopBar.big:hover{
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.pointTopBar.little:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.imagesDiv{
    display: flex;
}

.modalInput {
    position: relative;
    margin: auto;
    width: 100%;
}
.modalLabel{
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.modalBorder{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
}
.input:hover {
    background: rgba(34,50,84,0.03);
}
.input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}
.input:focus {
    background: none;
    outline: none;
}
.input:focus + span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}
.input:focus + span + .border {
    transform: scaleX(1);
}

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 15px;
    display: inline-block;
}
.radio .label {
    position: relative;
    display: block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #225cff;
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
}
.radio:hover .label:after {
    transform: scale(3.6);
}
input[type="radio"]:checked + .label {
    border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
}

