<head>

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <div class="text-center p-t-136">
                    <span class="login100-form-title">
                        Not a member?
                    </span>
                    <a class="txt2" href="#!user/register">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>

                <form class="login100-form validate-form" name="loginForm" ng-submit="submit(loginForm.$valid)" novalidate>
                        <span class="login100-form-title">
                            Member Login
                        </span>

                    <span ng-show="loginForm.username.$invalid && (loginForm.username.$dirty || isClicked)" class="errorText">Username is required.</span>
                    <div class="wrap-input100 validate-input" >
                        <input class="input100" type="text" name="username" placeholder="Username" ng-model="username"
                               ng-class="{ 'has-error' : loginForm.username.$invalid && (loginForm.username.$dirty || isClicked) }" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                    </div>

                    <span ng-show="loginForm.pass.$invalid && (loginForm.pass.$dirty || isClicked)" class="errorText">Password is required.</span>
                    <div class="wrap-input100 validate-input">
                        <input class="input100" type="password" name="pass" placeholder="Password" ng-model="password"
                               ng-class="{'has-error' : loginForm.pass.$invalid && (loginForm.pass.$dirty || isClicked)}" required>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <input class="login100-form-btn" type="submit" id="submit" value="Log In" ng-click="isClicked=true">
                    </div>

                    <div class="text-center p-t-12">
                        <a class="txt2" href="#!user/restorePassword">
                            Forgot Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

