<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            <form class="login100-form validate-form" name="restorePassForm" ng-submit="submit(restorePassForm.$valid)" novalidate>
                <span class="login100-form-title">
                    Restore password
                </span>

                <span ng-show="restorePassForm.username.$invalid && (restorePassForm.username.$dirty || isClicked)" class="errorText">Username is required.</span>
                <div class="wrap-input100 validate-input" >
                    <input class="input100" type="text" name="username" placeholder="Username" ng-model="username"
                           ng-class="{ 'has-error' : restorePassForm.username.$invalid && (restorePassForm.username.$dirty || isClicked) }" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                </div>

                <span ng-show="restorePassForm.ans1.$invalid && (restorePassForm.ans1.$dirty || isClicked)" class="errorText">Password is required.</span>
                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pass" placeholder="Password" ng-model="password"
                           ng-class="{'has-error' : loginForm.pass.$invalid && (loginForm.pass.$dirty || isClicked)}" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                </div>

                <div class="container-login100-form-btn">
                    <input class="login100-form-btn" type="submit" id="submit" value="Log In" ng-click="isClicked=true">
                </div>

                <div class="text-center p-t-12">
                    <a class="txt2" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
