<div class="limiter">
    <div class="container-login100">
        <div class="wrap-content">
            <div class="imagesDiv">
                <div ng-repeat="point in points" class="pointDiv">
                    <div class="pointTopBar big" ng-click="select(point.poi_id)">
                        <label class="pointName" ng-bind="point.name"></label></br>
                        <img class="pointImage" ng-style="{'height': '350px', 'width': '350px'}" ng-src="{{point.main_photo}}"/><br>
                    </div>
                    {{(point.description.length>225)?(point.description|limitTo : 225)+' ...':(point.description)}}</br>
                    <div style="display: flex">
                        <div style="margin-right: 5px;"><i class="fa fa-eye" aria-hidden="true"></i> <label ng-bind="point.views"></label></br></div>
                        <div><i class="fa fa-smile-o" aria-hidden="true"></i> <label ng-bind="point.rating| number : 2"></label></br></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>